section.career
  h1 Career
  dl
    di 2006
    dd First taste of HTML/CSS/JS
    di 2014
    dd Junior FrontEnd Engineer
    di 2015
    dd Middle FrontEnd Engineer
    di 2017
    dd Senior FrontEnd Engineer
    di 2018 
    dd FrontEnd Lead

link(rel="stylesheet" href="./career.scss")