section.career
  h1 Career &amp; Achievements
  .timeline-container
    p.description Tap events for more details
    .canvas-container
      .scroller
      .pinch-and-zoom
        .reflect-x
          .left-hand 👆
        .right-hand 👆
    .pills-container(flex-row flex-center)
      .pills(flex-row flex-wrap flex-center)
        .pill.inverse.list-pill
          i.gg-list
          span View as list
        .pill.inverse.life
          i.gg-maximize
          span Reset zoom
        .pill.inverse.career
          i.gg-assign
          span Zoom Career
        a(href="https://github.com/av/av/blob/master/career/TimelineVisualisation.ts" target="_blank") 
          .pill.inverse
            include ./images/github.svg
            span View on GitHub
  .list-container
    .pill.inverse.timeline-pill
      i.gg-align-center
      span View as timeline
  
include modals/life
include modals/school
include modals/university
include modals/career
include modals/junior
include modals/middle
include modals/middle-continued
include modals/senior
include modals/large-crm
include modals/spreadsheets-app
include modals/iot-asset-management
include modals/iot-platform
include modals/polymer-app
include modals/email-templates
include modals/leaflet-maps
include modals/crud-pages
include modals/api-testing-tool
include modals/analytics-dashboard
include modals/xbac
include modals/session-timeouts
include modals/password-complexity
include modals/dropping-compass
include modals/backend-testing
include modals/custom-dashboards
include modals/iot-gateway
include modals/iot-dashboard
include modals/dart-sdk
include modals/lambda-tracing
include modals/frontend-lead
include modals/drop-bower
include modals/traceability-search
include modals/traceability-solution
include modals/satellite-applications
include modals/traceability-dashboards
include modals/e2e-testcafe
include modals/docker-optimisation
include modals/lambda-service
include modals/experiences-service
include modals/supply-chain-traceability
include modals/ar-demo
include modals/platform-quickstart
include modals/pallet-tracking
include modals/singularity
include modals/mlls
include modals/lisp-interpreter
include modals/wutch
include modals/electronic-music
include modals/graphic-design
include modals/html-taste
include modals/photoshop-tutorials
include modals/flutter-articles
include modals/oss-contribution
include modals/flutter-clock
include modals/redscript
include modals/dtg
include modals/euler-rust
include modals/yson
include modals/thng-query
include modals/tohu

script(src="./career.ts")
link(rel="stylesheet" href="./career.scss")