section.career
  h1 Timeline
  .canvas-container
    .scroller
  .pills-container(flex-column flex-center)
    .pills(flex-row flex-wrap flex-center)
      .pill.zoom-pill.life
        span Reset zoom
      .pill.zoom-pill.career
        span Zoom into Career
    .pointing-pill
      span 👆
  
include modals/life
include modals/school
include modals/university
include modals/career
include modals/junior
include modals/middle
include modals/middle-continued
include modals/senior
include modals/large-crm
include modals/spreadsheets-app
include modals/iot-asset-management
include modals/iot-platform
include modals/polymer-app
include modals/email-templates
include modals/leaflet-maps
include modals/crud-pages
include modals/api-testing-tool
include modals/analytics-dashboard
include modals/xbac
include modals/session-timeouts
include modals/password-complexity
include modals/dropping-compass
include modals/backend-testing
include modals/custom-dashboards
include modals/iot-gateway
include modals/iot-dashboard
include modals/lambda-tracing
include modals/frontend-lead
include modals/drop-bower
include modals/traceability-search
include modals/traceability-solution
include modals/satellite-applications
include modals/traceability-dashboards
include modals/e2e-testcafe
include modals/docker-optimisation
include modals/supply-chain-traceability
include modals/ar-demo
include modals/platform-quickstart
include modals/pallet-tracking
include modals/mobile-games
include modals/wutch
include modals/electronic-music
include modals/graphic-design
include modals/html-taste
include modals/photoshop-tutorials
include modals/flutter-articles
include modals/oss-contribution
include modals/flutter-clock
include modals/redscript
include modals/dtg
include modals/euler-rust
include modals/yson
include modals/thng-query
include modals/tohu

script(src="./career.ts")
link(rel="stylesheet" href="./career.scss")