section(
  flex-row
  center
  padding-lg
)
  a(href='mailto:mail@av.codes') Mail to me
  a(href='https://github.com/av') GitHub
  a(href='https://www.linkedin.com/in/ivan-cherepanov-891656ba/') LinkedIn
  a(href='https://codepen.io/iamfrontender/') Codepen
  a(href='https://www.codewars.com/users/iamfrontender') Codewars