section.contacts
  h1(text-center) And let's connect!
  ul.links(flex-row flex-wrap flex-center)
    li
      a(href="https://www.linkedin.com/in/ivan-cherepanov" target="_blank")
        include ./images/linkedin.svg
    li
      a(href="https://github.com/av" target="_blank")
        include ./images/github.svg
    li
      a(href="https://codepen.io/iamfrontender" target="_blank")
        include ./images/codepen.svg
    li
      a(href="https://www.codewars.com/users/iamfrontender" target="_blank")
        include ./images/codewars.svg
    li
      a(href="https://soundcloud.com/everlier" target="_blank")
        include ./images/soundcloud.svg
    li
      a(href="https://medium.com/@av.codes" target="_blank")
        include ./images/medium.svg
    li
      a(href="https://habr.com/users/everlier/" target="_blank")
        include ./images/habr.svg
    li
      a(href="mailto:av@av.codes" target="_blank")
        include ./images/gmail.svg
    
link(rel="stylesheet" href="./contacts.scss")