svg.offscreen
  filter#fancy-goo-sm
    fegaussianblur(in='SourceGraphic', stdDeviation='5', result='blur')
    fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')

  filter#fancy-goo
    fegaussianblur(in='SourceGraphic', stdDeviation='15', result='blur')
    fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9', result='goo')

  filter#fancy-goo-lg
    fegaussianblur(in='SourceGraphic', stdDeviation='25', result='blur')
    fecolormatrix(in='blur', mode='matrix', values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10', result='goo')
