section(
  flex-row
  center
  padding
  style=`
    border-top: 1px solid rgba(0, 0, 0, .1);
  `
) 
  small
    small(flex-column center)
      small Built by <b>AV</b>, 2019
      small(flex-row) 
        a(href='https://github.com/av') GitHub
        span &nbsp;
        a(href='https://www.linkedin.com/in/ivan-cherepanov-891656ba/') LinkedIn
        span &nbsp;
        a(href='https://codepen.io/iamfrontender/') Codepen
        span &nbsp;
        a(href='https://www.codewars.com/users/iamfrontender') Codewars