section(
  flex-row
  center
  padding
  bg-red
  color-inverse
  style=`
    margin-top: -25vh;
    padding-top: 25vh;
  `
)
  small
    small(flex-column center)
      small Built by <b>AV</b>, 2019
      small(flex-row) 
        a(href='https://github.com/av') GitHub
        span &nbsp;
        a(href='https://www.linkedin.com/in/ivan-cherepanov-891656ba/') LinkedIn
        span &nbsp;
        a(href='https://codepen.io/iamfrontender/') Codepen
        span &nbsp;
        a(href='https://www.codewars.com/users/iamfrontender') Codewars