section(
  flex-row
  center
  padding
  bg-red
  color-inverse
  style=`
    margin-top: -15vh;
    padding-top: 25vh;
    display: flex;
  `
)
    small(flex-column center style=`min-height: 10vh;`)
      small 
        span Built by <b>AV</b>, 
        span.current-year 2020
      small(flex-row) 
        a(href='https://github.com/av') GitHub
        span &nbsp;
        a(href='https://www.linkedin.com/in/ivan-cherepanov-891656ba/') LinkedIn
        span &nbsp;
        a(href='https://codepen.io/iamfrontender/') Codepen
        span &nbsp;
        a(href='https://www.codewars.com/users/iamfrontender') Codewars
    script.
      document.querySelector('.current-year').textContent = (new Date()).getFullYear();