doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="description" content="Home page of Ivan Cherepanov (@av on GitHub), Sr. Full-Stack Engineer specializing on JavaScript.")
    title Ivan Cherepanov
    link(rel='stylesheet', href='main.scss')
    link(rel='stylesheet' href="https://unpkg.com/css.gg/icons/all.css")

  body
    include mixins/splitter
    include mixins/modal
    include filters

    include tldr
    +splitter('bg-primary')
    include career
    +splitter('bg-darken-sm')
    include skills
    include contacts
    +splitter('bg-white')
    include footer
    
    //- Postprocess DOM
    script(src="./index.ts")

    //- Google analytics
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-143258835-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-143258835-1');

