doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title AV
    link(rel='stylesheet', href='main.scss')
    script(src='scrollbars.js')

  body
    include mixins/splitter

    include filters
    include logo
    +splitter('bg-primary')
    include intro
    //- include contacts
    +splitter('bg-white')
    include footer
    //- include debug
    
    .offscreen
      h1 This is offscreen
    
    //- Google analytics
    script(async src='https://www.googletagmanager.com/gtag/js?id=UA-143258835-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-143258835-1');

