@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700;900&display=swap");

@import "./base";
@import "./vars";
@import "./util";
@import "./animations";
@import "./floater";
@import "./splitter";
@import "./modals";

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Red Hat Display", sans-serif;
  color: $secondary;
}

body {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --amber: #{$amber};
  --lime: #{$lime};
}

html {
  font-size: $font-size-min;
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(#{$font-size-min} + 32 * ((100vw - #{$sm}) / 600));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: $font-size-max;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #999;
}

body::-webkit-scrollbar-thumb {
  background: #eee;
}

.offscreen {
  position: fixed;
  left: -9999px;
}

section[fullscreen] {
  min-height: 70vh;
  width: 100%;
}

section[card] {
  position: relative;
  max-width: 20rem;
  @extend [padding];
  @extend [margin];

  border-radius: 1rem;

  box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.2),
    0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.05);

  card-bg {
    z-index: -1;
  }

  @include md {
    max-width: 90vw;
  }
}

card-bg {
  @extend [fill];
}

section {
  position: relative;
}
