@import "./vars";

.modal {
  display: none;

  @media (max-width: $sm) {
    font-size: 1.5rem;
  }

  @media (min-width: $sm) and (max-width: $md) {
    font-size: 1rem;
  }

  @media (min-width: $md) {
    font-size: 0.7rem;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    place-items: center;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    background: white;
    max-width: 90vw;
    margin: 0 auto;
    max-height: calc(100vh - 3rem);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.4);

    @media (max-width: $sm) {
      max-width: 90vw;
    }

    @media (min-width: $sm) and (max-width: $md) {
      max-width: 80wv;
    }

    @media (min-width: $md) {
      max-width: 60vw;
    }
  }

  .modal-content {
    overflow: auto;
    padding: 0 .5rem;
  }

  .modal-header {
    .modal-title {
      margin: 0 auto;
    }
  }

  &.is-open {
    display: block;
  }

  ul.img-section {
    margin: .5rem 0;
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;

    li {
      margin: 0 .5rem;
      flex-grow: 1;
    }

    img {
      margin: 0;
      min-height: 100%;
      vertical-align: bottom;
    }
  }

  img, video {
    display: block;
    margin: 0.5rem auto;
    max-width: 100%;
    max-height: 10rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2);
  }

  video:active, video:focus {
    outline: none;
  }

  p + ul {
    margin-top: -.25rem;
  }

  ul {
    list-style-type: '- ';
    padding-left: 1rem;
  }

  p.description {
    text-align: center;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.6);
  }

  .twitter-tweet {
    margin: 0 auto;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.modal-slide {
  display: none;
}

.modal-slide.is-open {
  display: block;
}

.modal-slide[aria-hidden="false"] .modal-overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide[aria-hidden="false"] .modal-container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide[aria-hidden="true"] .modal-overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide[aria-hidden="true"] .modal-container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.modal-slide .modal-container,
.modal-slide .modal-overlay {
  will-change: transform;
}
