section.profile
  h1 
    span console.log("
    span Hi! 
    span.waving-hand 👋
    span ")
  h2
   i My name is Ivan
  p.
    Let's see if I can be of any use to you!

link(rel="stylesheet" href="./profile.scss")