section.skills {
  max-width: 60rem;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-top: 5rem;
  }

  .skills-container {
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  p.legend {
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      margin-right: 1rem;
    }

    .skill-type {
      box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
      border-radius: 100rem;
      padding: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      }

      .name {
        margin-left: 0.5rem;
        height: 1em;
        line-height: 1em;
        font-size: 1em;
        padding-right: 0.5em;
      }

      .color {
        width: 1em;
        height: 1em;
        border-radius: 100rem;
      }
    }
  }

  .skill-name {
    fill: black;
    font-size: 0.6rem;
    font-weight: bolder;
  }

  .skill-node {
    transition: opacity 0.15s;
  }

  .axis-label {
    font-weight: bolder;
    font-size: 0.7rem;
  }

  .axis-x,
  .axis-y {
    color: rgba(0, 0, 0, 0.2);
  }
}

.skill-tooltip {
  position: fixed;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
