@import "./vars.scss";

section.skills {
  max-width: 30rem;
  margin: 0 auto;
  padding: 3rem 0;

  h1 {
    text-align: center;
  }

  .skills-container {
    position: relative;
    background: darken($secondary, 10%);
    border-radius: .5rem;
    overflow: hidden;
  }

  .legend-container {
    padding: 1rem;

    @include media(lt-md) {
      padding: .5rem;
    }

    .color {
      $size: 1em;

      width: $size;
      height: $size;
      border-radius: $size;
      margin-right: .25rem;
    }
  }

  .skill-node {
    fill: rgba(255, 255, 255, 0.8);
    font-size: .4rem;
    text-transform: capitalize;
    
    .skill-scaler {
      transition: opacity .3s;
    }
  }

  .axis-label {
    font-size: .5rem;
    position: absolute;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    border-radius: 100rem;
    padding: 0.25rem 1rem;
    background: white;

    &.axis-x {
      bottom: .2rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &.axis-y {
      top: 50%;
      left: -1.5rem;
      transform: rotate(-90deg);
    }
  }

  .pills {
    a {
      text-decoration: none;
    }
  }
}
