@import "./vars";

.splitter {
  $size: 20rem;
  $circle-size: $size / 2;
  $animation-duration: 100s;

  z-index: 1;
  filter: url(#fancy-goo);

  .circle-container {
    flex: 1;
    width: $circle-size;
    height: $circle-size;
    overflow: visible;
  }

  .circle {
    animation: $animation-duration alternate infinite;
  }
}
