@import "./vars.scss";

section.tldr {
  background: linear-gradient(210deg, lighten($secondary, 20%), $primary 40%);
  padding: 1rem;

  @include media(sm) {
    padding: .5rem;
  }

  h2 {
    @include media(sm) {
      font-size: 1em;
    }
  }

  h1 {
    opacity: .2;
  }

  a.download-pdf {
    color: $secondary;
    text-decoration: none;

    i {
      margin-right: .5rem;
      transform: translateY(.1rem) scale(1.4);
    }
  }

  .content {
    max-width: 30rem;
    margin: 0 auto;
    border-radius: 1vw;
  }

  .tldr-more {
    font-size: .7rem;
    opacity: .7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i.gg-mouse {
      margin-top: .5rem;
      --ggs: 1.5;
  
      &:after {
        animation: lining-down 2s infinite;
      }
    }  
  }

  .tldr-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    margin-bottom: 1rem;

    gap: 2rem;

    @media (max-width: $md) {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
  }

  .tldr-decoration {
    @include media(lt-md) {
      display: none;
    }

    &:nth-of-type(2n + 1) {
      text-align: right;
    }
  }

  .tldr-container {
    z-index: 1;
    position: relative;
    padding: 1rem;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .morphing-shape {
      z-index: -1;
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    span {
      z-index: 1;
    }

    @include media(sm) {
      padding: .5rem;
    }
  }

  .morphing-shape {
    display: inline-block;
    color: white;
    --ggs: 1.5;

    @include media(sm) {
      --ggs: 2;
    }
  }
}