section.tldr
  h1 TLDR;
  p 6+ years in the field 
  p Delivered code for Browsers, Servers, Desktops and Microcontrollers
  p Can live with fuzzy requirements and/or strict deadlines
  p Best fitted for small independent team

link(rel="stylesheet" href="./tldr.scss")