include mixins/shape

section.tldr(
  fullscreen
)

  .content
    h2 Ivan Cherepanov
    h6 Senior Software Engineer (Fullstack, JavaScript)
    h1 
      span TLDR;
    
    .tldr-items

      .tldr-container
        +shape('100%', 100, ['stronger-shaking'], ['--primary', 'white'], '10vh', 100)
        span Delivered code for Browsers, Servers, Mobile, Desktops and Microcontrollers

      .tldr-decoration
        +shape('4rem', 50, ['stronger-shaking'], ['--amber', '--tertiary'])

      .tldr-decoration
        +shape('3rem', 50, ['stronger-shaking'], ['--amber', '--tertiary'])

      .tldr-container
        +shape('100%', 100, ['stronger-shaking'], ['--primary', 'white'], '10vh', 100)
        span
          span Can live with 
          span(text-fuzzy) fuzzy 
          span requirements and/or 
          b(text-underline) strict
          span  deadlines

      .tldr-container
        +shape('100%', 100, ['stronger-shaking'], ['--primary', 'white'], '10vh', 100)
        span Best fitted for small independent teams 🤝

      .tldr-decoration
        +shape('2rem', 50, ['stronger-shaking'], ['--amber', '--tertiary'])

      .tldr-container
        +shape('100%', 100, ['stronger-shaking'], ['--primary', 'white'], '10vh', 100)
        span 6+ years in the field

      a.download-pdf(href="/pdf/Ivan Cherepanov.pdf" download="Ivan Cherepanov")
        .tldr-container
          +shape('100%', 100, ['stronger-shaking'], ['--tertiary', '--amber'], '5vh', 100)
          i.gg-software-download
          span Get PDF version

    .tldr-more
      span learn more
      i.gg-mouse
      

link(rel="stylesheet" href="./tldr.scss")