$primary: #69E2E0;
$secondary: #332148;
$tertiary: #ff1f8f;
$lime: #bfff00;
$amber: #ffc000;
$red: red;

$darken-sm: whitesmoke;

$text: #222;
$text-inverse: #eee;

$font-size-min: 32px;
$font-size-max: 48px;

$sm: 400px;
$md: 1000px;

@mixin media($breakpoint) {
  @if $breakpoint == sm {
    @media screen and (max-width: $sm) {
      @content;
    }
  }

  @if $breakpoint == gt-sm {
    @media screen and (min-width: $sm + 1px) {
      @content;
    }
  }

  @if $breakpoint == lt-md {
    @media screen and (max-width: $md) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media screen and (min-width: $sm) and (max-width: $md) {
      @content;
    }
  }

  @if $breakpoint == gt-md {
    @media screen and (min-width: $md + 1px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media screen and (min-width: $md) {
      @content;
    }
  }
}