doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Blog | av.codes
    meta(name='description', content='Engineering notes, implementation stories, and practical write-ups from av.codes.')
    link(rel='canonical', href="https://av.codes/blog/")
    link(rel='stylesheet', href='../main.scss')
    link(rel='stylesheet', href='../blog.scss')
  body.blog-page
    main.blog-shell
      p.blog-kicker Writing
      h1.blog-title Blog
      p.blog-subtitle Practical notes on building and shipping software.
      ul.blog-post-list
