+modal('analytics-dashboard', "Analytics Dashboard")
  p As Platform aggregated huge amounts of data, we faced the need to expose the most typical KPIs and Metrics for accounts of our users.
  img(src="/src/images/analytics-dashboard.png" data-zoomable)
  p.description All the widgets positions/layouts and their contents were fully customizable for a particular Account needs.
  p It was approached by building a set of reusable visualisation components which could be connected to our Analytics API. Components allowed tweaking of the metric dimensions and content to the need of a particular user.