+modal('ar-demo', "AR App Demo")
  p Hiring is hard for tech companies. As an initiative to improve Company's public image on local tech stage, we've conducted a mini-conference, talking about different technical and social aspects of working there.
  p To showcase some of the interesting technologies we've got our hands on, I've <a href="https://collaborative-ar-presentation.vercel.app/" target="_blank">prepared a talk</a> and built a demo app allowing real-time interaction between multiple people, based on one of the Platform features.
  video(controls)
    source(src="/videos/ar-demo.mp4" type="video/mp4")
  p.description Demo of AR experience in action. If multiple people scan the QR code, they would be collaborating on this voxel playground in real-time. You can check out code for the experience <a href="https://github.com/evrythng/evrythng-experience-starter/tree/master/experiences/voxel-builder" target="_blank">here</a>.