+modal('bip', "Business Intelligence Platform")
  p I've joined a startup focusing on the Business Intelligence space. The company created a platform for collecting and processing data on businesses and their activities.
  p We served over a million company profiles, providing our Users access to more than 400 data points for each.
  p During my time at the company, we significantly expanded our product line, adding solutions for monitoring, collaboration, risk assessment, and more.
  ul.img-section
    li
      img(src="/src/images/bip-1.png" data-zoomable)
    li
      img(src="/src/images/bip-2.png" data-zoomable)
  p.description I'm proud of all the work we've done, and I'm happy to have been a part of it.
  p My contribution ranged even more than on previous positions, from the DB optimisations to the Product/Design work, encompassing the whole flow of delivering the product to the end-user.