+modal('career', 'Software Engineer')
  p During one of the exams sessions in the BNTU, after passing all the tests, I had two weeks to do whatever I wanted.
  p I've spent them building multiple small apps with pure JavaScript: A Minesweeper game, Step Sequencer for making simple beats and a Color Palette Generation tool. These became my first portfolio. I've got my first Software Engineer job just within a month of making these.
  ul.img-section
    li
      img(src="/src/images/minesweeper.png" data-zoomable)
    li
      img(src="/src/images/stepograph.png" data-zoomable)
  p.description
    span You can also check out
    a(href="https://minesweeper-murex.vercel.app/" target="_blank") this Minesweeper
    span  live. Please, keep in mind that this was written even before my Junior days.
  p Six years later, I'm still as excited about programming and solving problems as I was back in the days.
