+modal('chapter-lead', "Chapter Lead")
  p Having a lot of experience with most of the Platform components, I was promoted to take a position of a Frontend Lead.
  p I've curated frontend-related meetings and initiatives, was conducting interviews for Frontend and Backend positions, helped to investigate any Platform outages, maintain and monitor Platform infrastructure.