+modal('crud-pages', "CRUD Pages")
  p The platform has been providing a quite uniform experience for most entities, consisting of multiple reusable blocks of behavior, such as tagging, storing custom data, assigning custom identifiers, and scoping resources to a specific project within the account.
  p When adding another resource type, we opted to unify our developer experience by building CRUD pages for such resources too.
  p This approach allowed us to reduce the delivery time for such basic pages from weeks to days for each new resource.
  p The experience includes behaviors such as listing entities, filtering them by available fields, creating new entities, and editing existing ones, all built with the same exact reusable components.