+modal('dropping-compass', "Migration from Compass to libsass")
  p As our codebase grown, style builds became increasingly slow, reacing a duration of 40-50 seconds after each change. As Compass ecosystem didn't allow us to scale further, we've made a decision to drop it in favor of a libsass implementation.
  p I've implemented a replacement pipeline compiling existing SCSS with libsass. It helped to reduce build times to a range of 1-2 seconds and made possible much quicker iteration times on the application development.