+modal('email-templates', 'Email Templating System')
  p I've implemented a complete revamp of emails delivered by the Platform, migrating from text-only to a consistently styled HTML.
  p Amongst the features it included a component system for quickly composing new types of emails and full support for older email clients, like Outlook.
  code(data-gist-id="18f799c442b077af42458b53a147fcc6")
  p.description Reusable email button, for example.
