+modal('euler-rust', "Solving Project Euler puzzles in Rust")
  p At some point I was attracted to Rust. 
  p In order to get my hands on it, I've decided to start small and try solving <a href="https://projecteuler.net/" target="_blank">Project Euler</a> puzzles with it.
  p You can check out my attempts <a href="https://github.com/av/euler/tree/master/rust" target="_blank">in this repo</a>.