+modal('experiences-service', "WYSIWYG Experiences Service")
  p As we offered interesting tooling for quickly deploying custom Product pages to the Platform (also called Experiences), we were interested in exposing better tooling for it to be accessible by non-technical Users.
  p I've architected and prototyped a Service for creating and deploying such experiences.
  p Prototype also included WSISWYG Experience Editor embeddable into our main Application.
  img(src="/src/images/experience-studio.png" data-zoomable)
  p.description One of the early mocks I've produced for the Editor.
  ul.img-section
    li
      img(src="/src/images/sample-experience.png" data-zoomable)
    li
      img(src="/src/images/sample-experience-qr.png" data-zoomable)
  p.description Prototype of GrapeJS integration and QR Code to access deployed experience.