+modal('harbor', "Harbor")
  p Harbor is a tool to effortlessly run LLM backends, APIs, Frontends and services with one concise CLI.
  p It started as a local setup, and I had a change to significantly expand upon it in-between the jobs.

  img(src="https://raw.githubusercontent.com/wiki/av/harbor/harbor-arch-diag.png" data-zoomable)
  p.description Harbor high-level overview

  p Harbor gathered some positive feedback from the community and I had a chance to meet many interesting people along the way.

  ul 
    li 
      a(href="https://github.com/av/harbor") Harbor on GitHub
    li
      a(href="https://github.com/av/harbor/wiki") Harbor Wiki
    li 
      a(href="https://www.reddit.com/r/LocalLLaMA/comments/1ehq2gm/introducing_harbor_a_containerized_llm_toolkit/") Announcement on Reddit
  