+modal('iot-asset-management', "IoT Asset Management")
  p Upon closing of the previous project, I've participated in building a solution for managing and controlling assets in the field of water management.
  p Software allowed provisioning, monitoring and control of smart devices both for industrial and private-owned facilities.
  video(controls)
    source(src="/src/videos/otto.mp4" type="video/mp4")
  p.description In my free time I've also built a helper desktop app to manage and test connected devices.
  p This project became my first fullstack experience in production.