+modal('iot-gateway', "IoT Gateway on AWS Lambda")
  p We were approached Client operating a fleet of smart devices connected to the Cloud with a request to migrate their assets to our Platform.
  p I've participated in building a solution allowing to communicate with devices in custom binary protocol.
  p Alongside with communication, we have implemented a set of tools to deploy new device firmware over the air.
  p I've also implemented a distributed tracing of AWS Lambda invocations orchestrating internals of each run and providing us with an insight for optimization and debugging.
  p As we required to manage a variety of different devices with a lot of business rules, I've also implemented a custom scripting engine allowing to modify device state based on change of its properties.
