+modal('iot-dashboard', "Administration Dashboard for IoT Devices")
  p Alongside implementing the solution for managing the device fleet on top of the Platform, I've also implemented a set of custom extensions, allowing managing supported device types, managing device firmware, performing testing of device response and providing an overview for device state.
  video(controls)
    source(src="/src/videos/iot-dashboard.mp4" type="video/mp4")
  p.description A screencast highlighting some of the features allowing to manage some of the properties of how devices are connected to the cloud and some additional firmware metadata.