+modal('leaflet-maps', "Abstract Map Component")
  p As our application featured leaflet-based maps in multiple places, we've decided to unify the developer experience and wrap commonly used features in an easy-to-use package.
  p Main focus of the abstraction was on the programmatic control of the component, allowing to display a dynamic map legend, load/unload markers with clusters and drawing custom polygons over the map.
  img(src="/src/images/evt-map.png" data-zoomable)
  p.description Amongst interesting features was automatic data clustering on the backend, to avoid transfers of colossal amounts of data for continent-level zooms.
  p Another aspect was to implement desired default behavior with little or no additional configuration for basic use-cases.
