+modal('microfrontends-implementation', "Microfrontends Implementation")
  p As our Application already offered a framework for deep customization, it was rational to explore an ability to integrate solutions in the technology stacks other than the parent Application.
  p I've implemented bridges for integrating third-party microfrontends built in React and Vue as well as capabilities to embed other applications within the main one. All the features were successfully integrated with the customization framework.