+modal('middle-continued', 'Middle Software Engineer')
  p I've joined a new company and new project in a position of a Middle Software Engineer.
  p Changing familiar toolset and organisation was hard at first, but I was excited about new possibilities, so adapted quickly.
  img(src="/images/code-stat.png" data-zoomable)
  p.description 
    span One of interesting 
    a(href="https://github.com/iamfrontender/code-stat" target="_blank") side-projects
    span  I've built at that time. It's a D3-based graph of Webpack build stats.
  p I was given a lot of autonomy right from the beginning and used it to propose new areas for the project to explore.