+modal('middle', 'Middle Software Engineer')
  p At the end of the first year, I was already capable delivering significant features on my own, directly interacting with Product Owners and the rest of organisation. I've also became a "Code Champion" in multiple areas of the Project I was working on.
  p To recognize my contribution, I was awarded with so long desired "Middle" badge. 
  p I was feeling significantly more comfortable with higher level abstractions and overall application architecture.
  p As any other JavaScript developer at such stage, I've attempted to build my own frontend framework. In the end it turned out to be very similar to ExtJS, so I've abandoned it.
  img(src="/images/render-cycle.png" data-zoomable)
  p.description 
    span Render cycle from that OLD endeavour of mine. You can check out the whole root component class 
    a(href="https://gist.github.com/av/dabdff40d6c620edec5cf12c5213a31a" target="_blank") in this gist.
    span  Please, keep in mind that it was written before React or even AngularJS became popular and JQuery ruled the minds of "Web Designers".
