+modal('oss-contribution', "Contributing to Flame engine")
  p Working on my own mobile game, I faced the need to quickly implement 2d particle effects to be used in a variety of scenarios.
  p After implementing Particle System and sharing it with the engine community I've got a greenlight for implementing it into the engine.
  img(src="/src/images/particles.gif" data-zoomable)
  p.description Examples of Particle System in use.
  p You can check out the <a href="https://github.com/flame-engine/flame/pull/190" target="_blank">contribution</a> and <a href="https://flame-engine.org/docs/particles.md" target="_blank">docs</a> for more details.