+modal('password-complexity', "Password Complexity Indicator")
  p I've implemented a neat feature providing real-time feedback to the User on meeting the password complexity criteria.
  video(controls)
    source(src="/src/videos/password.mp4" types="video/mp4")
  p.description Small recording of a component in action.
  p I've managed to find a neat way to integrate these dynamic visuals with the form framework we used.