+modal('platform-quickstart', "Platform Quickstart")
  p As we operated a very large set of features, we faced a need to showcase the capabilities to our Users during onboaring.
  p I've implemented a highly integrated experience covering major Platform capabilities.
  video(controls)
    source(src="/src/videos/platform-onboarding.mp4" type="video/mp4")
  p.description A portion of the flow. You may see in the video that when creating a Product, actual experience is also created and available immediately. This demo leaves aside a feature of auto-generating Product instances, which was also a very interesting topic, as you could generate thousands of containers for your digitized goods right from the start with the Platform.
  p Alongside with the Quick Start we've delivered a new feature allowing to easily create custom experiences associated with their Digitized Products. You can check out <a href="https://github.com/evrythng/evrythng-experience-starter" target="_blank">the starter kit</a> on the GitHub.