+modal('polymer-app', 'Polymer App')
  p For my onboarding to the Platform I was given a task to create a sample client application for interacting with Platform APIs.
  p Application allowed for the users to observe and control their devices connected to the Platform.
  img(src="/images/polymer-app.png" data-zoomable)
  p.description A screenshot of one of the App pages. It featured real-time updates and toggle for switching to a local IoT Hub instead of Cloud APIs.
  p Alongside with the application itself, I've proposed an <a href="https://github.com/iamfrontender/evt-elements" target="_blank">implementation for a UI kit</a> for quickly assembling such applications in future.
  img(src="/images/evt-elements.png" data-zoomable)
  p.description Sample code allowing to quickly assemble a page for working with certain IoT device via Platform APIs.
