+modal('redscript', "JavaScript to AnyScript transpilation")
  p As any programmer, I was mesmerised by how programming languages are built.
  p Speaking Russian natively I was also curious on how the code is perceived by the native Egnlish speakers.
  p So, during one of the weekends, I've got my hands on the <a href="https://esprima.org/" target="_blank">Esprima</a>, ECMAScript parser and patched it to support arbitrary sets of keywords, instead of hardcoded English ones.
  p After that, I've created <a href="https://github.com/av/your-script" target="_blank">a small lib</a> to to traverse the AST and swap the keywords to anyone's liking.
  p As a result, I was able to create a small transpiler for a <a href="https://github.com/av/redscript" target="_blank">"RedScript"</a>, JS subset with all the keywords being in Russian.
  img(src="/images/redscript.png" data-zoomable)
  p.description I've also written an <a href="https://habr.com/ru/post/283108/" target="_blank">article (RU)</a> on using the module.
