+modal('satellite-applications', "Satellite Applications")
  p As our Customers were maintaining the technology stacks of their own, we needed a mechanism for better integration with the Platform in addition to the existing customization framework.
  p I've implemented a way to serve multiple completely different frontends from a CDN based on Customer's Account configuration. It enabled us to build highly specialized applications for one of the solutions we maintained. It also enabled us to safely explore new technology stacks if needed without affecting the main functionality and existing solutions.
  p We've seamlessly integrated the Satellites concept into main workflows in the Application allowing RBAC/ABAC and switching between different satellites as well as linking to a particular chosen experience.
  p I've also researched a capability to embed these satellite applications directly into the main Applicaiton, essentially implementing microfrontends methodology.