+modal('school', "School")
  img(src="/src/images/school.jpg" data-zoomable)
  p.description One of rare photos from my last school years where I'm not doing some thing I would later regret.
  p Being honest, I wasn't the most diligent student during my school years, yet I never had any issues studying and getting through exams.
  p I've graduated high school with average grade of 8.6 (out of 10) and a huge pile of drawings made during some of the lessons.
  p
    span I'm infinitely grateful to the tutors of
    a(href="http://www.licey.bru.by/" target="_blank") BRU Lyceum
    span in Mogilev, Belarus for the urge to learn they managed to develop in me and other students.
  p I was very excited to learn basics of programming in Pascal and creating digital content with Macromedia Flash back in the days.