+modal('session-timeouts', "Active Session Timeouts")
  p For better support of different use-cases on top of the platform, I've implemented a system for an Account Administrator to define a timeout for an active session in their Account.
  p Alongside with custom duration, it supported active session maintenance, actively logging out users after a period of inactivity, as some of our Clients required sessions as short as 10 minutes.