+modal('singularity', "Singularity Mobile Game")
  p As I moved to part-time position, I've used remaining time to pursue my interests in game development.
  p The first day I tried Flutter - I immediately fell in love with it. A very powerful set of abstractions, extreme composability and extremely productive developer cycle left me hugely impressed.
  p After fiddling with Flutter itself, I've focused on its rendering capabilities, which are somewhat similar to what HTML5 Canvas provides. As soon as I've got comfortable, I've started implementing my first attempt of a game.
  p The first game was an idle progression game about humanity's history and technology. I was also planning to build up some basic plot around technological singularity and AI already being in power. The main game loop was to earn progress points to unlock new technologies to earn more points.
  video(controls)
    source(src="/src/videos/progress-game.mp4" type="video/mp4")
  p.description A short recording of "Progress" game onboarding and main screens.
  p After significant amount of time spent, I've realised that to properly finish the Game I needed around 7-8 months of work on content only. Unfortunately that seemed as a bit of an overkill for something which might not work at all. So I switched my focus to a simpler game, with focus on procedural content.
  p I've implemented a lot of interesting features into the game, such as a force graph simulation and reactive inventory system.