+modal('spreadsheets-app', 'Web Spreadsheets Application')
  p Alongside with the main project, I've participated in building Google Sheets-like web application, for insurance in banking sector.
  p It featured infinite grid of cells with custom content and custom formulas evaluation.
  p Unfortunately, project was never used in production.