+modal('supply-chain-traceability', "Supply Chain Traceability")
  p During my late days in the Company I have switched to a part-time role to support one of the solutions I've previously built.
  p I was working with ETL and data ingestion pipeline to optimise the quality of produced data and cover discovered use-cases. 