+modal('thng-query', "Thng Query")
  p During my work I was issuing hundreds of various calls to Platform APIs.
  p Taking into account my curiousity in how Programming Languages are built, I've explored the territory of parsing a plain english text and transforming it into a series of HTTP calls to query Platform APIs.
  p I've created a <a href="https://github.com/av/thng-query/blob/master/src/grammar/grammar.ne" target="_blank">grammar</a> using <a href="https://github.com/kach/nearley" target="_blank">Nearley</a> toolkit and integrated it with the Platform SDK to perform queries like:
  code(data-gist-id="a5e52576b76bab5258e48e1ccf323993")
  p.description One of the cool features was that it could perform filtering much deeper than allowed by the main Platform APIs.

