+modal('tohu', "JavaScript code tracer")
  p As a result of one of the projects, I've released <a href="https://github.com/av/tohu" target="_blank">a JavaScript library</a> allowing to orchestrate arbitrary code and record its behavior in the runtime.
  p I've also written an <a href="https://habr.com/ru/post/354716/">article (RU)</a> about implementing simple tracers compatible with <code>chrome://tracing</code>.
