+modal('university', 'BNTU, Faculty of Information Technology and Robotics')
  img(src="/src/images/university.jpg" data-zoomable)
  p.description One of the classrooms where we studied electronic circuits.

  p I've applied to industrial Robotics, because I was hoping to obtain a unique and demanded skill set for the Industry 4.0.
  p As three years passed, we were taught programming in BASIC and learned the mechanics of the industrial robots developed in the USSR in the 80s. Lack of up-to-date knowledge was frustrating.
  p My education in the university ended right where my Software Engineer career has started 🧑‍💻.