+modal('xbac', "RBAC/ABAC for application")
  p As Platform featured dozens of resources and APIs, not all of them were utilised in each and every solution. Alongside with that, some solution required restricting the content which users can access based on their Role in the Account.
  p We approached the problem by implementing a fine-grained Role and Attribute based access control for the application.
  img(src="/src/images/xbac.png" data-zoomable)
  p.description We've implemented a Role and Attributed based access control accross the whole application, allowing to control which resources User with a certain Role can access and which Pages they could reach.
  p It allowed an Administrator of the account to define which resources and pages are available for certain types of the users in their respective solution.