+modal('yson', "YSON (YSON - Simple Object Notation)")
  p After being tired of typing endless <code>{</code>s and <code>"</code>s, I've tried my skills in building a specification for a data language (like JSON or YML).
  p I've developed <a href="https://github.com/av/yson">a spec in a set of railroad diagrams</a> (to build a parser upon) for a new (as I thought) data transferring language, only to realise that someone infinitely smarter than me already created YAML, following a very similar purpose.
  img(src="/src/images/yson.png" data-zoomable)
  p.description In the project logo, I've tried to highlight that YSON is like JSON, but without unnecessary parts.