+modal('api-testing-tool', "API Testing Tool")
  p As Platform offered a lot of different APIs, there was a frequent need to trigger some of them to trigger test sequences or provide additional control over entities outside of the basic CRUD model.
  img(src="/images/api-testing-tool.png" data-zoomable)
  p.description Screenshot of one of the pages of the tool, to dispatch custom actions on certain resources.
  p We've built a Postman-like API client, allowing to perform such requests and observe the outcome.