+modal('ar-demo', "AR App Demo")
  p Hiring is hard for tech companies. As an initiative to improve Company's public image on local tech stage, we've conducted a mini-conference, talking about different technical and social aspects of working there.
  p To showcase some of the interesting technologies we've got our hands on, I've prepared a talk and built a demo app allowing real-time interaction between multiple people, based on one of the Platform features.