+modal('career', 'Software Engineer')
  p During one of the exams sessions in the BNTU, after passing all the tests, I had two weeks to do whatever I wanted. 
  p I've spent them building multiple small apps with pure JavaScript: A Minesweeper game, Step Sequencer for making simple beats and a Color Palette Generation tool. These became my first portfolio. I've got my first Software Engineer job just within a month of making these.
  p Six years later, I'm still as excited about programming and solving problems as I was back in the days.
