+modal('crud-pages', "CRUD Pages")
  p Platform was providing a quite uniform experience for most of the Entities, consisting of multiple reusable blocks of behavior, such as tagging, storing custom data, assigning custom identifiers and scoping resources to a certain project within the account.
  p When adding another resource type, we've also opted-in to unify our developer experience building CRUD pages for such resources too.
  p It allowed to reduce delivery time for such basic pages from weeks to days per each new resource.
  p The experience included such behaviors as listing entities, filtering them by available fields, creating new entities and editing existing ones, all built with same exact reusable components.
  