+modal('custom-dashboards', "Application Customization Framework")
  p As solutions built on top of the Platform grew increasingly different, there was a need to provide a deep customization of the content in the Client's Account.
  video(controls)
    source(src="/videos/custom-dashboards.mp4" type="video/mp4")
  p.description A screencast of editing one of the Custom Dashboards
  p I've implemented a grid-based dashboards framework allowing Users to create new and edit existing application pages with ability to place pre-defined or fully custom widgets. The Framework also supported export of configured dashboards for sharing between the Accounts.
  p It also allowed embedding third-party widgets deployed and hosted outside of main application, allowing our Client's Engineering teams to extend the Application to their needs.