+modal('custom-dashboards', "Application Customization Framework")
  p As solutions built on top of the Platform grew increasingly different, there was a need to provide a deep customization of the content in the Client's Account.
  p I've implemented a grid-based dashboards framework allowing Users to create new and edit existing application pages with ability to place pre-defined or fully custom widgets.