+modal('dtg', "Data Generation Tool")
  p During my first months in the Company, I've experienced day-to-day need to generate large amounts of semi-randomised data to test and verify various behaviors of the Platform.
  p To help myself (and my colleagues, facing the same need), I've written a <a href="https://github.com/av/dtg" target="_blank">small template-based data-generation tool</a>, allowing to steamroll semi-random data for any partiuclar needs.
  img(src="/images/dtg.png" data-zoomable)
  p.description I was relieved from <code>{ "name": "test", "description": "test" }</code> with DTG.
  