+modal('electronic-music', "Electronic Music")
  p I was always fascinated with Software. I've fiddled with all the programms I could get my hands on. 
  p Once, I've got my hands on a simple sample editor and found it extremely entertaining to distort recordings of my own voice.
  p Long story short, a year after that, I've attempted to write music with a computer. Initially, it was as bad as you think it was (maybe even worse). Luckily, those first recordings are stored safely on a Hard Drive, I won't tell a single soul stored where.
  p After many years of making really bad things, quantity transitioned into some degree of quantity. You may find recordings I'm least ashamed of at my <a href="https://soundcloud.com/everlier">SoundCloud account</a>.