+modal('email-templates', 'Email Templating System')
  p I've implemented a complete revamp of emails delivered by the Platform, migrating from text-only to a consistently styled HTML. 
  p Amongst the features it included a component system for quickly composing new types of emails and full support for older email clients, like Outlook.
  p I've never used <code>&lt;table /&gt;</code> so much ever before, or after.