+modal('email-templates', 'Email Templating System')
  p I've implemented a complete revamp of emails delivered by the Platform, migrating from text-only to a consistently styled HTML. 
  p Amongst the features it included a component system for quickly composing new types of emails and full support for older email clients, like Outlook.
  script(src="https://gist.github.com/av/18f799c442b077af42458b53a147fcc6.js")
  p.description It turned out to be quite a challenge to build a reusable styled button for embedding into emails.
  p I've never used <code>&lt;table /&gt;</code> so much ever before, or after.