+modal('flutter-articles', "Writing on Medium about Flutter")
  p As my excitement with Flutter grew, I was diving quite deep into the framework and its capabilities. 
  p At some point, I decided to share my finding with the rest of such an amazing community.
  p I've released multiple articles on different topics:
  ul
    li
      a(href="https://itnext.io/what-i-learned-developing-games-from-scratch-on-flutter-a2eda59460e5" target="_blank") "What I Learned Developing Games from Scratch with Flutter"
    li
      a(href="https://itnext.io/procedural-textures-with-flutter-efcf546cd1fc" target="_blank") "Procedural textures with Flutter"
    li
      a(href="https://blog.usejournal.com/brushed-metal-texture-with-flutter-e036eded6de0" target="_blank") "Brushed Metal texture with Flutter"
    li
      a(href="https://medium.com/flutter-community/particle-systems-for-puffs-and-zaps-with-flutter-d32cdcc97ef3" target="_blank") "Particle Systems (for Puffs and Zaps) with Flutter"
    li
      a(href="https://medium.com/flutter-community/neumorphic-designs-in-flutter-eab9a4de2059" target="_blank") "Neumorphic designs with Flutter"
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">A quite magnificent article by Ivan Cherepanov on Flutter, composition, and particle effects. Both informative and a cracking read. Great job! <a href="https://twitter.com/hashtag/Flutter?src=hash&amp;ref_src=twsrc%5Etfw">#Flutter</a> ⁦<a href="https://twitter.com/FlutterComm?ref_src=twsrc%5Etfw">@FlutterComm</a>⁩<a href="https://t.co/7xtIMJJyAW">https://t.co/7xtIMJJyAW</a></p>&mdash; Tim Sneath (@timsneath) <a href="https://twitter.com/timsneath/status/1188695072734187521?ref_src=twsrc%5Etfw">October 28, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  p.description I was extremely proud, when one of the articles was recognized by a Flutter Product Manager.