+modal('graphic-design', "Graphic Design")
  p I loved drawing, had bearable skills working with Graphic Design software and had lots of long lonely evenings after studying.
  p I've created and curated a Typography community in one of the social networks popular in my country.
  p After that it was a very short run from considering myself a Graphic Designer and applying for projects on Freelance job boards.
  p Doing that, I have produced a lot of things which are still hanging on the walls at my place.
  ul.img-section
    li
      img(src="/images/design-1.png" data-zoomable)
    li
      img(src="/images/design-2.jpg" data-zoomable)
    li
      img(src="/images/design-3.png" data-zoomable)
  p.description These are literally on the wall of the room I'm sitting in right now.
  p To check out more, you may visit <a href="https://everlier.tumblr.com/">my old (and dusty) portfolio</a>.
