+modal('html-taste', "First taste of HTML")
  p At some stage, me and my Mother moved to other village and were setting up a new life for ourselves.
  p I couldn't say it was boring, but I certainly had less things to do than before.
  p So, somehow my Mom got me into a remote course on so called "Web Design", where they taught me the difference between unordered and ordered lists and all the powers of table layouts.
  p Writing that HTML on the pages of notebook to be sent via post office back to the tutors, I could never guess that would be related to my career.