+modal('iot-asset-management', "IoT Asset Management")
  p Upon closing of the previous project, I've participated in building a solution for managing and controlling assets in the field of water management.
  p Software allowed provisioning, monitoring and control of smart devices both for industrial and private-owned facilities.
  p This project became my first fullstack experience in production.