+modal('iot-dashboard', "Administration Dashboard for IoT Devices")
  p Alongside implementing the solution for managing the device fleet on top of the Platform, I've also implemented a set of custom extensions, allowing managing supported device types, managing device firmware, performing testing of device response and providing an overview for device state.