+modal('junior', 'Junior Software Engineer')
  p I've fixed my first bug with an incorrect layout of a slide panel during my very first official day of work ✌️. It was amazing.
  p I will never forget the feeling of how little do I actually know. Yet it was so great to learn new things literally all the time.
  ul.img-section
    li
      img(src="/images/shine.png" data-zoomable)
    li
      img(src="/images/pencil.png" data-zoomable)

  p.description 
    span I've also continued building 
    a(href="https://shine-seven.vercel.app/" target="_blank") some
    span &nbsp;
    a(href="https://codepen.io/iamfrontender/pen/EjNKqL" target="_blank") small
    span &nbsp;
    a(href="https://codepen.io/iamfrontender/pen/PqromX" target="_blank") things
    span  just for fun.
  p Luckily, I got up to speed quickly and became useful for the project and the team.