+modal('junior', 'Junior Software Engineer')
  p I've fixed my first bug with an incorrect layout of a slide panel during my very first official day of work. It was amazing.
  p I will never forget the feeling of how little do I actually know. Yet it was so great to learn new things literally all the time.
  p It didn't took me long to get up to speed and start being useful for the project and the team.