+modal('lambda-tracing', "Distributed tracing for AWS Lambda")
  p As Solution grew, we faced the necessity to manage dozens of sequential and parallel invocations of AWS Lambda related to certain device workflows.
  p To overcome the complexity of debugging such a solution, I've implemented a system for tracing the events happening within our Lambdas, collecting and aggregating them for display in our Platform.
  p As addition to that, I've written an article on creating such tracers and released a stripped-down version of the tracer. It's compatible with chrome://tracing protocol and could give you an insight of what HTTP calls are happening when your code is running with just a one-line change.