+modal('large-crm', 'Large CRM Project')
  p My first project was a very large CRM, focused on streamlining interaction with customers of various businesses.
  p CRM was made of a plethora of interesting tools, allowing to create digital content fitted per each individual customer of a particular business and distribute it in ways ranging from an SMS to Postcards.
  p It was featuring such components as full-featured Text Editor (in 2014, before Google Docs were even on the horizon), WYSIWYG editor for HTML-powered content, powerful lead tracking tool, project tracking software, cloud storage explorer and much more.
  p I was extremely lucky to get my first job to work on such a well architected software in a team of people with tens of years of experience.
  