+modal('leaflet-maps', "Abstract Map Component")
  p As our application featured leaflet-based maps in multiple places, we've decided to unify the developer experience and wrap commonly used features in an easy-to-use package.
  p Main focus of the abstraction was on the programmatic control of the component, allowing to display a map legend, load/unload markers and clusters of markers and drawing custom polygons over the map.
  p Another aspect was to implement desired default behavior with little or no additional configuration to the map.