+modal('middle', 'Middle Software Engineer')
  p At the end of the first year, I was already capable delivering significant features on my own, directly interacting with Product Owners and the rest of organisation. I've also became a "Code Champion" in multiple areas of the Project I was working on.
  p So it didn't took long to get the "Middle" badge. 
  p I was feeling significantly more comfortable with higher level abstractions and overall application architecture.
  p As any other JavaScript developer at such stage, I've attempted to build my own frontend framework. In the end it turned out to be very similar to ExtJS, so I've abandoned it.
