+modal('middle-continued', 'Middle Software Engineer')
  p I've joined a new company and new project in a position of a Middle Software Engineer.
  p Changing familiar toolset and organisation was hard at first, but I was excited about new possibilities. 
  p I was given a lot of autonomy right from the beginning and used it to propose new areas for the project to explore.