+modal('pallet-tracking', "Pallet Tracking")
  p We were approached by a large company looking to digitize their supply chain akin to what was made for some of our previous clients.
  p After a throughout investigation, we have implemented a custom solution based on current standards of Supply Chain industry.
  p Solution allowed our Client to track and trace shipments of their Product across the continents with ability to see the distinction between expected and actual quantities to analyse any potential anomalies.
  p One of the cool features I've delivered, was a Sankey diagram highlighting recorded transfers of Product throughout the supply chain.