+modal('password-complexity', "Password Complexity Indicator")
  p I've implemented a neat feature providing real-time feedback to the User on meeting the password complexity criteria.
  p Despite being nothing special, I enjoyed working on this feature and proud of delivered functionality.