+modal('password-complexity', "Password Complexity Indicator")
  p I've implemented a neat feature providing real-time feedback to the User on meeting the password complexity criteria.
  video(controls)
    source(src="/videos/password.mp4" types="video/mp4")
  p.description Small recording of a component in action.
  p Despite being nothing special, I enjoyed working on this feature and proud of delivered functionality.