+modal('photoshop-tutorials', "Photoshop Tutorials")
  p As I've spent countless hours drawing on lessons in School and I loved computers and everything related, it was only a question of time - when I get my hands on some Graphic Design software.
  p Initially, it was a hot mess from custom brushes and gradients, which I thought looks cool. A bit later I even managed to do some basic design for my friends and family, creating them business cards and coasters for social media groups.
  p Later in the years, it helped me to try myself in the world of Graphic Design Freelance, I even got a couple of actually paid gigs out of that.