+modal('platform-quickstart', "Platform Quickstart")
  p As we operated a very large set of features, we faced a need to showcase the capabilities to our Users during onboaring.
  p I've implemented a highly integrated experience covering major Platform capabilities.
  p Alongside with the Quick Start we've delivered a new feature allowing to easily create custom experiences associated with their Digitized Products.