+modal('polymer-app', 'Polymer App')
  p For my onboarding to the Platform I was given a task to create a sample client application for interacting with Platform APIs.
  p Application allowed for the users to observe and control their devices connected to the Platform.
  p Alongside with the application itself, I've proposed building a UI kit for quickly assembling such applications in future.