+modal('senior', "Senior Software Engineer")
  p I was promoted to a Senior developer upon developing multiple projects on my own, some of which were crucial for the future of the Company.
  
  video(controls)
    source(src="/videos/boids.mp4" type="video/mp4")

  p.description 
    a(href="https://codepen.io/iamfrontender/full/jwrrVy" target="_blank") One of the CodePens
    span  I've built during this period.
    span It simulates the flocking behavior of the birds.
  p The definition of seniority is quite a questionable topic and varies greatly across the industry. In my opinion, seniority is defined by two properties: 
    ul
      li Ability to tackle software delivery end to end.
      li Realization of the fact that despite working with computers, everything we create is to benefit other people.