+modal('senior', "Senior Software Engineer")
  p I was promoted to a Senior developer upon developing multiple projects on my own, some of which were crucial for the future of the company.
  p What does being a Senior Engineer means for me? An ability to tackle any problem, given enough time. Ability to create simple solutions for complex problems. And, of course, never stop learning.