+modal('traceability-solution', "Traceability Solution")
  p As one of the solutions I've previously developed entered another active phase, I've actively participated in implementing new features and maintaining it.
  p Amongst the interesting problems we were solving: analysis and aggregation of 250Gb of XML data, programmatically building custom XLSX reports. 