+modal('traceability-search', "Traceability solution on AWS Lambda")
  p We were approached by a world-known Company to help them to reduce operation times for some of their internal workflows related to the Traceability of the Goods used for their products.
  p To tackle that, we've built a custom solution on top of the Platform, aggregating data from multiple Client's systems and allowing to reduce their workflow time from weeks to just seconds.
  p Solution was based on AWS Lambda, used as extension point for the Platform to hold a custom logic for processing and querying Client's data.
  p On top of data, I've built a whole range of various components enabling to surface the information based on the Client's terminology and implementing custom visualisations to better reflect its states and conditions.