+modal('wutch', 'Wutch.net')
  p After an amazing 4 years at my previous job I was ready to try to do something of my own. Through the years I was collecting ideas which occasionally happened to appear in my mind, so I've just scrapped through those and picked one which seemed the most promising.
  p What if you could subscribe to any value on the Internet?
  p No more daily visits to a range of bookmarks, no more problems with looking for an absent RSS feed.
  p Excited about possible applications, I've started with building a PoC in about a week, which allowed me to track local prices on videocards. 
  p Right now this service is in indefinite Closed Beta (ping me at <a href="mailto:av@av.codes">av@av.codes</a> if you're interested to participate), and I've put development on hold until the situation in my country will become less tense.