section(
  flex-row
  center
  padding
  bg-secondary
  color-inverse
  style=`
    margin-top: -15vh;
    padding-top: 25vh;
    display: flex;
  `
)
    small(flex-column center style=`min-height: 10vh;`)
      small 
        span Built by <a href="https://github.com/av" target="_blank">@av</a>, 
        span.current-year 2020
    script.
      document.querySelector('.current-year').textContent = (new Date()).getFullYear();