section.footer(
  flex-row
  center
  padding
  bg-secondary
  color-inverse
  style=`
    margin-top: -15vh;
    padding-top: 25vh;
    display: flex;
  `
)
  span Built by <b>@av</b>,
  span &nbsp;
  span.current-year 2020
  script.
    document.querySelector('.current-year').textContent = (new Date()).getFullYear();

link(rel="stylesheet" href="./footer.scss")