include mixins/shape

section.intro
  .content(flex-column justify-center)
    .decoration(data-force=30)
      +shape({
        size: '8rem',
        variation: 80,
        animations: ['stronger-shaking'],
        colors: ['--amber', '--tertiary'],
      })

    .decoration(data-force=120)
      +shape({
        size: '2rem',
        variation: 80,
        animations: ['stronger-shaking'],
        colors: ['--primary', '--tertiary'],
      })

    .decoration(data-force=30)
      +shape({
        size: '1.5rem',
        variation: 80,
        animations: ['stronger-shaking'],
        colors: ['--amber', '--tertiary'],
      })

    .raised
      h1.intro-name
        span(data-aos="fade-up" data-aos-easing="ease-out-sine") Ivan
        span(data-aos="fade-up") &nbsp;
        span(data-aos="fade-up" data-aos-delay=50 data-aos-duration=400) Cherepanov
      p.intro-hero(data-aos="fade-up" data-aos-delay=150)
        span Full-Stack Software Engineer

      .pills(flex-row flex-wrap)
        .pill.inverse(data-target="section.career" data-aos="fade-up" data-aos-delay=200) Achievements
        .pill.inverse(data-target="section.skills" data-aos="fade-up" data-aos-delay=250) Skills
        .pill.inverse(data-target="section.contacts" data-aos="fade-up" data-aos-delay=300) Contacts
        a.download-pdf(href="/src/pdf/Ivan Cherepanov.pdf" download="Ivan Cherepanov"  data-aos="fade-up" data-aos-delay=350 data-aos-duration=500)
          .pill
            i.gg-software-download
            span Resume

      .scroll-invitation(flex-row flex-center)
        i.gg-mouse

link(rel="stylesheet" href="./intro.scss")