section.logo(
  fullscreen
  flex-start
  flex-row
)
  svg.logo(height='500', width='500', viewBox='0 0 500 500')
    g.bottom
      polygon.a(points='100,300 300,300 200,130')
      polygon.a.accent(points='100,300 300,300 200,130')
      polygon.v.accent(points='200,200 300,370 400,200')
      polygon.v(points='200,200 300,370 400,200')
    g.top
      polygon.a(points='100,300 300,300 200,130')
      polygon.v(points='200,200 300,370 400,200')

  .scroll-control(flex flex-center flex-column)
    .dot
    .line
    .dot

script.
  document.querySelector("section.logo .scroll-control").addEventListener("click", () => {
    document.documentElement.scrollTop = document.querySelector("section.profile").getBoundingClientRect().top;
  });

link(rel="stylesheet" href="./logo.scss")
