section.skills
  .content
    h1.section-header(data-aos="fade-up") Glance through my skills
    p.description(data-aos="fade-up" data-aos-delay=50) Zoom. Pan.

    .skills-container
      .axis-x.axis-label(data-aos="fade-up")
        h5 Interest →
      .axis-y.axis-label(data-aos="fade-up")
        h5 Experience →

    .list-container

    .pills.legend-container(flex-row flex-wrap flex-center)
      .pill.inverse.map-pill
          i.gg-assign
          span View as a map

      .pill.inverse.list-pill
        i.gg-list
        span View as list
      a(href="https://github.com/av/av/blob/master/src/skills/SkillsSection.ts" target="_blank")
        .pill.inverse
          include ./images/github.svg
          span View on GitHub

link(rel="stylesheet" href="./skills.scss")