@import "./vars";

.splitter {
  $size: 20rem;
  $circle-size: $size / 2;
  $animation-duration: 30s;

  z-index: 1;
  filter: url(#fancy-goo-lg);

  @include media(sm) {
    filter: url(#fancy-goo);
  }

  .circle-container {
    overflow: visible;
  }

  .circle {
    animation: $animation-duration alternate infinite;
  }
}
